<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhFYZabSOSHO3dwsY7nI8sUWnIUie85ns</string>
	<key>GCM_SENDER_ID</key>
	<string>514630819895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wildmoment.whel</string>
	<key>PROJECT_ID</key>
	<string>wild-moment</string>
	<key>STORAGE_BUCKET</key>
	<string>wild-moment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514630819895:ios:7d03784ce810d86fdf9fb2</string>
	<key>DATABASE_URL</key>
	<string>https://wild-moment-default-rtdb.firebaseio.com</string>
</dict>
</plist>